.custom-popover {
   --offset-y: 0px;
   --offset-x: -20px;
   --width: 155px;

   &__inner {
      ion-col {
         @apply flex gap-3 items-center;
         @apply text-gray-500;
         p {
            @apply py-1;
            @apply text-base font-medium capitalize;
         }
      }
   }
}
