ion-modal::part(backdrop) {
   /* background: rgba(209, 213, 219); */
   background: black;
   --backdrop-opacity: 0.7;
   /* opacity: 0.9; */
}
ion-modal.modal-add-options {
   --width: 80%;
   --height: fit-content;
   --border-radius: 8px;
   --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

   .modal-add-options__inner {
      @apply p-5;
      h3 {
         @apply font-semibold capitalize text-lapis-lazuli;
      }

      ion-item {
         @apply my-1;
         p {
            @apply font-medium text-gray-500;
         }
      }
   }
}

.modal-search-contact {
   ion-toolbar {
      --padding-top: 12px;
      --padding-bottom: 12px;
      --background: white;
   }

   &__item {
      @apply flex items-center justify-between;
      @apply w-full my-2 py-2.5 pl-2.5;
      @apply text-gray-500;
      @apply border-2 rounded-lg border-gray-100;
      @apply shadow-sm;

      h3 {
         @apply text-lg font-medium;
      }
      p {
         @apply flex gap-1 items-center;
         @apply mt-0.5;
      }
   }

   &__nav {
      ion-buttons {
         ion-button {
            --color: #fff;
         }
      }
   }
}
