.customers-add-page {
   &__inner {
      @apply mt-4;
      ion-row:last-child {
         @apply mt-4;
      }
      ion-button {
         --background: #2867b2;
         --border-radius: 8px;
         --padding-top: 24px;
         --padding-bottom: 24px;
      }

      .form-helper {
         p {
            @apply pl-2;
            @apply text-sm text-gray-400;
         }
      }
   }
}

.customer-list {
   &__item {
      @apply flex items-center justify-between;
      @apply w-full my-2 py-2.5 pl-2.5;
      @apply text-gray-500;
      @apply border-2 rounded-lg border-gray-100;
      @apply shadow-sm;
      h3 {
         @apply text-lg font-medium;
      }
      p {
         @apply flex gap-1 items-center;
         @apply mt-0.5;
      }

      &:visited {
         @apply bg-lapis-lazuli;
         @apply text-white;

         h3 {
         }
      }
   }

   &__nav {
      ion-buttons {
         ion-button {
            --color: #fff;
         }
      }
   }
}

.customer-detail-page {
   &__inner {
      // --background: #2867b2;
   }

   &.popover {
      --offset-y: -375px;
      --offset-x: 20px;
      --width: max-content;
   }
   &.popover__inner {
      ion-col {
         @apply flex gap-3 items-center;
         @apply text-gray-500;
      }
      p {
         @apply py-1;
         @apply text-base font-medium capitalize;
      }
   }
   &__info {
      @apply w-11/12 h-40 mx-auto my-4 py-2 px-4;
      @apply rounded-md shadow-md bg-lapis-lazuli;

      h3 {
         @apply mt-4;
         @apply text-4xl font-medium capitalize text-white;
      }

      p {
         @apply flex gap-2;
         @apply mt-2.5;
         @apply text-xl font-medium text-white;
      }
   }
}
