.product-add-page {
   &__inner {
      @apply mt-4;
      ion-row:last-child {
         @apply mt-4;
      }
      ion-button {
         --background: #2867b2;
         --border-radius: 8px;
         --padding-top: 24px;
         --padding-bottom: 24px;
      }

      .form-helper {
         p {
            @apply pl-2;
            @apply text-sm text-gray-400;
         }
      }
   }
}

.product-list {
   &__item {
      @apply flex items-center;
      @apply w-full my-2 py-4 px-2.5;
      @apply text-gray-500;
      @apply border-2 rounded-lg border-gray-100;
      @apply shadow-sm;
      h3,
      p {
         @apply text-base font-medium capitalize;
      }
      h3 {
         @apply w-8/12;
      }
   }
}

.product-detail-page {
   &__info {
      @apply w-11/12 h-40 mx-auto my-4 py-2 px-4;
      @apply rounded-md shadow-md bg-lapis-lazuli-normal;

      .product-title {
         @apply text-white;
         h3 {
            @apply mt-4;
            @apply text-2xl font-medium capitalize;
         }
         p {
            @apply text-lg;
         }
      }

      .product-price {
         @apply mt-2;
         @apply text-white;
         p {
            @apply text-xl font-medium;

            span {
               @apply text-xs;
            }
         }
      }
   }
}

.product-edit-page {
   &__inner {
      @apply mt-6 px-4;

      .product-info {
         h3 {
            @apply mt-3 mb-2;
            @apply text-2xl font-medium capitalize text-lapis-lazuli-normal;
         }

         ion-item {
            --padding-start: 12px;
            --padding-end: 12px;
            @apply relative;
            @apply mb-3;
            @apply text-gray-500;
            @apply border-2 border-gray-100 rounded-xl;
            @apply shadow-md;
            svg {
               @apply absolute right-0 bottom-3;
            }
         }
      }

      .product-price {
         @apply mt-8;
         h3 {
            @apply mb-2;
            @apply text-2xl font-medium capitalize text-lapis-lazuli-normal;
         }

         ion-item {
            --padding-start: 12px;
            --padding-end: 12px;
            @apply relative;
            @apply mb-3;
            @apply text-gray-500;
            @apply border-2 border-gray-100 rounded-xl;
            @apply shadow-md;
            svg {
               @apply absolute right-0 bottom-3;
            }
         }
      }
   }
}
.product-price-info-page {
   &__inner {
      @apply px-4 pt-4;
   }
}
