.home-page,
.orders-page,
.bills-page,
.customers-list-page,
.customers-add-page,
.customer-detail-page,
.customer-edit-page,
.product-list-page,
.product-add-page,
.product-detail-page,
.product-edit-page,
.modal-edit-product {
   ion-toolbar {
      @apply text-white;
      --min-height: 52px;
      --padding-end: 12px;
      --background: #2867b2;
      ion-title {
         @apply text-lg font-medium capitalize text-white;
      }

      ion-buttons {
         ion-button {
            --color: #fff;
            // svg {
            //   @apply text-white;
            // }
         }
      }
   }
}
